[Unit]
Description=Historian to write data to PostgresSQL database

[Service]
ExecStart=/usr/bin/python3 -u MQTT_SpB/Historian.py
WorkingDirectory=/home/pkoprov/Haas-Data-Collection/
Restart=always
RestartSec=10s
User=pkoprov

[Install]
WantedBy=multi-user.target
