[Unit]
Description=Haas Data Publisher

[Service]
ExecStart=/usr/bin/python3 -u Publisher.py
WorkingDirectory=Haas-Data-Collection
Restart=on-failure
RestartSec=40s
User=pi

[Install]
WantedBy=multi-user.target